.title-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    .title {
        margin: 0;
        font-family: "Bungee", cursive;
        font-weight: 30;
        font-size: 3.5rem;
        line-height: 5rem;
        position: relative;
        cursor: pointer;
        animation-duration: 3s;
        animation-name: slidein;
        span:hover {
            animation-duration: 0.5s;
            animation-name: text_color;
        }
        @include lt-sm {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}

@keyframes slidein {
    0% {
        margin-left: 100%;
        width: 300%;
        font-size: 2.5rem;
        opacity: 0.2;
    }
    25% {
        font-size: 2.8rem;
        opacity: 0.4;
    }
    75% {
        font-size: 3.2rem;
        opacity: 0.8;
    }
    100% {
        margin-left: 0%;
        width: 100%;
        font-size: 3.5rem;
        opacity: 1;
    }
}

@keyframes text_color {
    0% {
        color: $primary;
        transform: scale(0.2);
        font-size: 2.6rem;
    }
    75% {
        font-size: 3.1rem;
    }
    100% {
        color: #000;
        font-size: 3.5rem;
    }
}
