.bd-sidebar {
    text-align: center;
    background-color: var(--bs-dark);
    grid-area: sidebar;
    position: sticky;
    top: 2rem;
    right: 0;
    height: calc(100vh - 7rem);
    overflow-y: auto;
    .navbar-nav li a {
        text-decoration: none;
        color: $white;
    }
    @include lt-sm {
        display: none;
    }
}
