.sidebar {
    text-align: center;
    background-color: var(--bs-dark);
    grid-area: sidebar;
    position: sticky;
    top: 2rem;
    right: 0;
    height: calc(100vh - 7rem);
    overflow-y: auto;

    @include lt-sm {
        display: none;
    }
}

.sidebar__link {
    text-decoration: none;
    color: $white;
    font-family: 'Bungee', cursive;
    font-size: 1.5rem;
    line-height: 5.5rem;
}

.sidebar__link:hover{
    text-decoration: none;
    color: $primary;
}
